results/*
inpca_results/*
*.pyc
torun.txt
*.txt
.ipynb_checkpoints/*
run.sh
create_torun.py
*.pdf
logits.ipynb
data/*
load_log.py
big_run.ipynb
log*
runs/*
inpca_results_all/*
*.h5
sgd_models.zip
didxs_yvh_all.p
notebooks/runs/*
inpca_results_avg/*
